.input
  display: block
  width 100%
  box-sizing: border-box
  margin-bottom: 20px
  padding: 6px 12px
  border: none
  background-color light-grey
  font-size 14px
  font-family: Source Sans Pro
  font-weight: 400
  letter-spacing 0.14px
  border-radius: 3px
  +placeholder()
    color dark-grey-text
    transition color 0.3s ease
  +placeholder-focus()
    color: transparent