@import '../styles/variables.styl'

.slider
  width 100%
  position relative

  &_vertical
    width 0
    height 300px

  &__track
    position relative
    left 0
    height 5px
    background-color light-grey

    &_vertical
      width 5px
      height 100%

  &__filled-track
    position absolute
    top 0
    left 0
    height 100%
    background-color primary-color

    &_vertical
      width 100%

  &__runner
    position absolute
    top 50%
    width 20px
    height 20px
    border-radius 50%
    background primary-color
    transform translate(0, -50%)
    transition background 0.3s ease
    cursor pointer

    &:hover
    &:hover .slider__tip
    &:hover .slider__tip:after
      background darker-primary-color

    &_vertical
      top 0
      left calc(50% + 2.5px)
      transform translate(-50%, 0)

  &__tip
    position absolute
    top -8px
    left 50%
    transform translate(-50%, -100%)
    padding 5px 10px 5px
    border-radius 5px
    font-size 13px
    text-align center
    letter-spacing 0.65px
    line-height 1
    font-family 'Lato', 'Arial', sans-serif
    color #fff
    background primary-color
    cursor pointer
    transition background 0.3s ease

    &_vertical
      top 50%
      transform translate(0, -50%)
      left 26px

    &:after
      content ''
      position absolute
      bottom 0
      left 50%
      width 7px
      height 7px
      background primary-color
      transform translate(-50%, 50%) rotate(45deg)
      transition background 0.3s ease

    &_vertical:after
      top 50%
      left 0
      transform translate(-50%, -50%) rotate(45deg)

  &__scale
    position absolute
    top 15px
    right 0
    left 0
    display flex
    justify-content space-between
    margin 0 auto
    padding-left 0
    list-style-type none
    font-size 11px
    font-weight 900
    letter-spacing 0.55px
    color light-grey-text

    &_vertical
      top 0
      bottom 0
      left -15px
      height 100%
      flex-direction column
      justify-content flex-start
      align-items flex-end
      width 0
      margin auto 0
      text-align right

    &-mark
      position absolute





