@import "../../node_modules/normalize-stylus/normalize.styl"
@import "variables.styl"
@import "../components/slider"
@import "../components/input"
@import "../components/tick-box"
@import "../components/subheading"
@import "../pages/index"

