@import '../../styles/variables.styl'

.subheading
  width 100%
  padding 0 rem(10px)
  font-size rem(18px)
  font-weight 900
  letter-spacing rem(0.9px)
  line-height rem(42px)
  text-align center
  text-transform uppercase
  color dark-grey
