@import '../../styles/variables.styl'

.demo-page
  &__content
    max-width 1200px
    margin 0 auto

  &__row
    display flex
    align-items center

    +md()
      flex-wrap wrap

  &__column
    &_with-slider
      display flex
      justify-content center
      padding 50px
      width 40%

      +md()
        width 100%

    &_with-options
      flex-grow 1
      padding 50px 20px

      +md()
        order -1