include ../../components/subheading/subheading
include ../../components/options/options
include ../../plugin/slider

doctype html
html
  head
    meta(charset='utf-8')
    meta(name="keywords", content="slider, jquery slider")
    meta(name="description", content="A flexible JQuery slider that supports many " +
    "settings: a range of values, data display, scale display and much more")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name="msapplication-TileColor" content="#ffc40d")
    meta(name="theme-color" content="#ffffff")
    title Slider
    link(rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png")
    link(rel="manifest" href="site.webmanifest")
    link(rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5")
  body
    .demo-page
      .demo-page__content
        +subheading({ title: "Simple slider", tag: "h1" })
        .demo-page__row.js-demo-page__row
          .demo-page__column.demo-page__column_with-slider
            +slider({ modifier: "simple" })
          .demo-page__column.demo-page__column_with-options
            +options({ isTip: true })
        +subheading({title: "Slider with scale"})
        .demo-page__row.js-demo-page__row
          .demo-page__column.demo-page__column_with-options
            +options({ isScale: true })
          .demo-page__column.demo-page__column_with-slider
            +slider({ modifier: "with-scale" })
        +subheading({title: "Interval slider"})
        .demo-page__row.js-demo-page__row
            .demo-page__column.demo-page__column_with-slider
              +slider({ modifier: "interval" })
            .demo-page__column.demo-page__column_with-options
              +options({ isTip: true, isInterval: true })
        +subheading({title: "Slider with step"})
        .demo-page__row.js-demo-page__row
          .demo-page__column.demo-page__column_with-options
            +options({ isTip: true, isStep: true })
          .demo-page__column.demo-page__column_with-slider
            +slider({ modifier: "with-step" })


