@import '../../styles/variables.styl'

.options
  &__row
    display flex

    +xs()
      flex-wrap wrap

  &__column
    flex-grow 1
    padding 0 10px
    box-sizing border-box

    +xs()
      width: 100%

    &:nth-child(3)
      flex-shrink 0

  &__label
    margin-right 20px

  &__label
  &__checkbox
    display inline-block
    margin-bottom 10px

  &__input
    margin-bottom 20px

  &__checkboxes
    display flex
    justify-content space-between
    align-items center