include ../input/input
include ../tick-box/tick-box

mixin options({ isScale, isTip, isInterval, isStep })
  form.options(action="mock-address/change-me" method="post")
    .options__row
      .options__column
        label.options__label Min value
        .options__input
          +input({name: "min-value"})
        label.options__label Max value
        .options__input
          +input({name: "max-value"})
      .options__column
        label.options__label Current value
        .options__input
          +input({name: "current-value"})
        if(isInterval)
          label.options__label Current max value
          .options__input
            +input({name: "current-max-value"})
        if(isScale)
          label.options__label Quantity of scale parts
          .options__input
            +input({name: "scale-items"})
        if(isStep)
          label.options__label Step size
          .options__input
            +input({name: "step-size"})
      .options__column
        .options__checkboxes
          label.options__label Show tip
          .options__checkbox
            +tick-box({ name: "tip",  isChecked: isTip })
        .options__checkboxes
          label.options__label Show scale
          .options__checkbox
            +tick-box({ name: "scale",  isChecked: isScale })
        .options__checkboxes
          label.options__label Vertical orientation
          .options__checkbox
            +tick-box({ name: "orientation" })